/**
 * Bootstrap status flag single select dropdown
 */

/* Individual icon styles */
.status--relevant {
  color: #6fcf97;
}
.status--irrelevant {
  color: #f37a7a;
}
.status--unknown {
  color: #dddddd;
}
.fa-bookmark {
  position: relative;
}
/* 
 * relevant and irrelevant icons have an overlay
 * to help those with red/green color blindness 
 * distinguish between the two
 */
.fa-bookmark.status--irrelevant:after {
  position: absolute;
  content: "\f067";
  color: white;
  font-weight: 700;
  font-size: 0.6em;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -55%) rotate(45deg);
}
.fa-bookmark.status--relevant:after {
  position: absolute;
  content: "\f00c";
  color: white;
  font-weight: 700;
  font-size: 0.6em;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -55%);
}

/*
 * dropdown-status wrapper styles 
 */
.dropdown.dropdown-status {
  display: inline-block;
}
/*
 * dropdown-status dropdown menu styles 
 */
.dropdown.dropdown-status > .dropdown-menu {
  padding: 5px 16px;
  /*   display: inline-block; */
  width: fit-content;
}
.dropdown.dropdown-status.open > .dropdown-menu {
  display: inline-block;
  min-width: auto;
  white-space: nowrap;
}
.dropdown.dropdown-status > .dropdown-menu > li {
  display: inline-block;
  padding-right: 8px;
}
.dropdown.dropdown-status > .dropdown-menu > li > a {
  display: inline-block;
  padding: 0;
}
.dropdown.dropdown-status > .dropdown-menu li:last-of-type {
  padding-right: 0px;
}
