/**
 * Flags are box-like labels with a one or two letter 
 * abbreviation inside
 */
@import "colors";
@import "utils";

/**
 * Flag styles
 */
.flag {
  position: relative;
  display: inline-block;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  border-radius: 4px;
  width: 2em;
  height: 2em;
  font-size: 1em;
  font-weight: 400;
  line-height: 2;
}

.flag-large {
  width: 2.25em;
  height: 2.25em;
  font-size: 1.25em;
  font-weight: 400;
  line-height: 2.25;
}

.flag-small {
  width: 1.75em;
  height: 1.75em;
  font-size: 0.75em;
  font-weight: 400;
  line-height: 2;
}

.flag-default {
  color: get-color($flag-colors, "default");
  background-color: get-color($flag-colors, "default", "background-color");
}
.flag--artifact {
  color: get-color($flag-colors, "artifact");
  background-color: get-color($flag-colors, "artifact", "background-color");
}
.flag--benign-polymorphism {
  color: get-color($flag-colors, "benign-polymorphism");
  background-color: get-color(
    $flag-colors,
    "benign-polymorphism",
    "background-color"
  );
}
